@page "/why-steeltoe"

<Template Name="Why Steeltoe" ShowBottomGetStarted="false" Features="@_features" MetaDescription="Level up your .NET code and explore what Steeltoe can do for you.">
    <Description>
        Steeltoe provides a collection of libraries that helps users build production-grade cloud-native applications using externalized configuration, service discovery, circuit-breakers, distributed tracing, application management, and more.
        Steeltoe also provides a seamless way to build, configure, and run event-driven microservice applications and stream-based data processing applications.
    </Description>
    <FeatureTemplate Context="Feature">
        <div class="col-sm-6 pr-sm-5">
            <div class="component-feature-title">@Feature.Title</div>
            <div class="row g-0">
                <div class="col-sm-3 component-why-img">
                    <img src="@Feature.Img" class="img-fluid" alt="@Feature.Title" />
                </div>
                <div class="col component-feature-desc mb-5">@Feature.Description</div>
            </div>
        </div>
    </FeatureTemplate>
    <AltFeatureTemplate Context="Feature">
        <div class="col-sm-6 pl-sm-5">
            <div class="component-feature-title">@Feature.Title</div>
            <div class="row g-0">
                <div class="col-sm-3 component-why-img">
                    <img src="@Feature.Img" class="img-fluid" alt="@Feature.Title" />
                </div>
                <div class="col component-feature-desc mb-5">@Feature.Description</div>
            </div>
        </div>
    </AltFeatureTemplate>
</Template>
<div class="width-all bg-dk-midnight-blue pt-5">
	<div class="width-70 container text-white">
		<div class="width-all text-center"><h2>What Steeltoe can do</h2></div>
		<div class="">
			<div class="row g-0">
				<div class="col component-dark"><Href href="/microservices">
					<div class="text-center"><img class="img-fluid" src="/images/icon-microservices-white.svg" alt="Steeltoe helps build microservices." /></div>
					<div class="title text-white"><h3>Microservices</h3></div>
					<div class="desc text-white">Quickly deliver production‑grade features with independently evolvable microservices.</div>
				</Href></div>
				
				<div class="col component-dark"><Href href="/cloud">
					<div class="text-center"><img class="img-fluid" src="/images/icon-cloud-white.svg" alt="Steeltoe helps build apps for the cloud." /></div>
					<div class="title text-white"><h3>Cloud</h3></div>
					<div class="desc text-white">Your code, any cloud—we&apos;ve got you covered. Connect and scale your services, whatever your platform.</div>
				</Href></div>
				
				<div class="col component-dark"><Href href="/web-applications">
					<div class="text-center"><img class="img-fluid" src="/images/icon-webapps-white.svg" alt="Steeltoe helps with web apps." /></div>
					<div class="title text-white"><h3>Web Apps</h3></div>
					<div class="desc text-white">A collection of libraries for fast, secure, and responsive web applications connected to any data store.</div>
				</Href></div>
			</div>
		</div>
	</div>
</div>

@code
{
	private readonly Feature[] _features =
    [
        new Feature
        {
			Title = (MarkupString)"Steeltoe is proven",
			Description = b => {
                b.AddMarkupContent(1,"Steeltoe&apos;s libraries are trusted by developers all over the world. Steeltoe delivers delightful experiences to millions of end-users every day. Steeltoe also has contributions from development teams at VMware, Microsoft, and more.");
            },
			Img = "/images/img-everywhere-2573c9d8470aed5621745921ac8733c8.svg"
		},
		new Feature
        {
			Title = (MarkupString)"Steeltoe is flexible",
			Description = b => {
                b.AddMarkupContent(1,"Steeltoe&apos;s flexible and comprehensive set of extensions and third-party libraries let developers build almost any web application imaginable. At its core, Steeltoe&apos;s features provide the foundation for a wide-ranging set of features and functionality. Whether you&apos;re building secure, cloud-based microservices for the web, or complex streaming data flows for the enterprise, Steeltoe provides the tools to help.");
            },
			Img = "/images/img-flexible-a5992de389ba231fc0dd93479df70b62.svg"
		},
		new Feature
        {
			Title = (MarkupString)"Steeltoe is productive",
			Description = b => {
                b.AddMarkupContent(1,"Steeltoe transforms how you approach .NET programming tasks.  Steeltoe builds on the .NET runtime libraries and streamlines your experience by providing much of the necessary glue code for you application. Steeltoe also provide a polyglot experience to you.  Steeltoe supports many of Spring Cloud&apos;s rich set of libraries, config servers, patterns, and templates, to safely deploy entire microservices-based architectures into the cloud.");
            },
			Img = "/images/img-innovative-16683bc64538d1462c6b77930f8b71ee.svg"
		},
		new Feature
        {
			Title = (MarkupString)"Steeltoe is fast",
			Description = b => {
                b.AddMarkupContent(1,"Developer productivity is one of Steeltoe&apos;s superpowers. Steeltoe helps developers build applications with ease and with far less toil than other competing paradigms. You can even start a new Steeltoe project in seconds, with the Steeltoe Initializr at ");
                b.OpenComponent<Href>(2);
                b.AddAttribute(3, "href","https://start.steeltoe.io");
                b.AddAttribute(4, "ChildContent", (RenderFragment)(child => { child.AddContent(5, "start.steeltoe.io"); }));
                b.CloseComponent();
            },
			Img = "/images/img-fast-f8bdb07b7bf02133827ec6bd3069eb29.svg"
		},
		new Feature
        {
			Title = (MarkupString)"Steeltoe is secure",
			Description = b => {
                b.AddMarkupContent(1,"Steeltoe has a proven track record of remediating security issues quickly and responsibly. The Steeltoe committers work with security professionals to patch and test any reported vulnerabilities. Third-party dependencies are also monitored closely, and regular updates are issued to help keep your data and applications as safe as possible. In addition, Steeltoe Security makes it easier for you to integrate with industry-standard security schemes and deliver trustworthy solutions that are secure by default.");
            },
			Img = "/images/img-secure-9a8f8b676bec21edfc4a9809c6cfa646.svg"
		},
		new Feature
        {
			Title = (MarkupString)"Steeltoe is supportive",
			Description = b => {
                b.AddMarkupContent(1,"The Steeltoe community is global, diverse, and spans folks of all ages and capabilities, from complete beginners to seasoned pros. No matter where you are on your journey, you can find the support and resources you need to get you to the next level: guides & tutorials, videos, support, and even access to the development team on Slack.");
            },
			Img = "/images/img-indemand-3f63d4a71b8af531028c46842a45cf49.svg"
		}
    ];
}
