@inject IOptionsSnapshot<DocsSiteOptions> DocsSiteOptions

<header class="sticky-top bg-light" style="box-shadow: 0 0 20px -4px #eeeeee;">
    <nav class="bg-light navbar navbar-expand-xl container py-xl-2">
        <Href Class="navbar-brand" href="/">
            <img id="logo" class="svg" src="/images/logo.svg" alt="Steeltoe" style="width:211px">
        </Href>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav text-center">
                <li class="nav-item dropdown ml-xl-5 mr-xl-2">
                    <a class="nav-link dropdown-toggle link-primary" href="#" id="why" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="return false;">
                        Why Steeltoe
                    </a>
                    <div class="dropdown-menu" aria-labelledby="why">
                        <Href Class="dropdown-item" href="/why-steeltoe">Overview</Href>
                        <Href Class="dropdown-item" href="/microservices">Microservices</Href>
                        <Href Class="dropdown-item" href="/cloud">Cloud</Href>
                        <Href Class="dropdown-item" href="/web-application">Web Applications</Href>
                        <Href Class="dropdown-item" href="/event-driven">Event Driven</Href>
                    </div>
                </li>
                <li class="nav-item dropdown mx-xl-2">
                    <a class="nav-link dropdown-toggle link-primary" href="#" id="learn" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="return false;">
                        Get Started
                    </a>
                    <div class="dropdown-menu" aria-labelledby="learn">
                        <Href class="dropdown-item" href="/initializr" NewWindow>Steeltoe Initializr</Href>
                        <Href class="dropdown-item" href="@(DocsSiteOptions.Value.GuidesHome)">Guides</Href>
                        <Href class="dropdown-item" href="@(DocsSiteOptions.Value.DocsHome)">Documentation</Href>
                        <Href class="dropdown-item" href="@(DocsSiteOptions.Value.ApiBrowserHome)">API Browser</Href>
                        <Href class="dropdown-item" href="@(DocsSiteOptions.Value.BlogHome)">Blog</Href>
                    </div>
                </li>
                <li class="nav-item dropdown mx-xl-2">
                    <a class="nav-link dropdown-toggle link-primary" href="#" id="projects" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="return false;">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="projects">
                        <Href class="dropdown-item" href="/app-configuration">Steeltoe Application Configuration</Href>
                        <Href class="dropdown-item" href="/circuit-breakers">Steeltoe Circuit Breakers</Href>
                        <Href class="dropdown-item" href="/docs/logging">Steeltoe Dynamic Logging</Href>
                        <Href class="dropdown-item" href="/cloud-management">Steeltoe Management</Href>
                        <Href class="dropdown-item" href="/messaging">Steeltoe Messaging</Href>
                        <Href class="dropdown-item" href="@(DocsSiteOptions.Value.FileShareHome)">Steeltoe Network File Sharing</Href>
                        <Href class="dropdown-item" href="/security-providers">Steeltoe Security</Href>
                        <Href class="dropdown-item" href="/service-connectors">Steeltoe Service Connectors</Href>
                        <Href class="dropdown-item" href="/service-discovery">Steeltoe Service Discovery</Href>
                        <Href class="dropdown-item" href="@(DocsSiteOptions.Value.DocsStreamHome)">Steeltoe Stream</Href>
                    </div>
                </li>
                @*<li class="nav-item mx-xl-2">
                <Href class="nav-link" href="/training">Training</Href>
                </li>*@
                <li class="nav-item mx-xl-2">
                    <Href Class="nav-link link-primary" href="/support">Support</Href>
                </li>
                <li class="nav-item mx-xl-2">
                    <Href Class="nav-link link-primary" href="/community">Community</Href>
                </li>
            </ul>
        </div>
    </nav>
</header>
